h1 {
  font-family: "Nunito", sans-serif;
  font-weight: normal;
  font-size: 72px;
  margin-top: 182px;
  margin-left: 250px;
  position: absolute;
  width: 580px;
}

img {
  width: 100%;
}

div {
  position: absolute;
  width: 1440px;
  height: 265px;
  margin-top: 135px;
}
