.heading-homepage {
  font-family: "Nunito", sans-serif;
  font-weight: normal;
  font-size: 72px;
  position: absolute;
  margin: 50px;
}

.about-heading {
  text-align: center;
  font-family: "Nunito", sans-serif;
  font-weight: normal;
  font-size: 72px;
}

.overlay {
  margin-bottom: 50px;
  width: 100%;
}

p {
  font-size: 15px;
  font-family: "Nunito", sans-serif;
  font-weight: normal;
}

.homepage-photos {
  display: flex;
  justify-content: center;
}

.homepage-photos div {
  width: 250px;
  text-align: center;
  padding: 5px;
  margin: 15px;
}

.logo {
  margin-bottom: 30px;
  display: block;
  margin: 0 auto;
}

@media (max-width: 700px) {
  .heading-homepage {
    font-size: 35px;
  }
  .homepage-photos div {
    width: 150px;
  }

  .p-about {
    margin-top: 40px;
    text-align: center;
  }

  .insta {
    text-align: center;
  }
}
