.nav-logo {
  max-width: 100px;
}

nav {
  padding: 20px;
}

nav ul {
  padding: 0;
}

nav li {
  display: inline;
  list-style: none;
  line-height: 42px;
  margin-left: 15px;
}

nav a {
  text-decoration: none;
  color: black;
  transition: all 100ms ease-in-out;
}

nav a:hover,
nav li.active a {
  color: plum;
}

.heading-homepage {
  font-family: "Nunito", sans-serif;
  font-weight: normal;
  font-size: 72px;
  position: absolute;
  margin: 50px;
}

.about-heading {
  text-align: center;
  font-family: "Nunito", sans-serif;
  font-weight: normal;
  font-size: 72px;
}

.work-heading {
  text-align: center;
  font-family: "Nunito", sans-serif;
  font-weight: normal;
  font-size: 72px;
}

h1 {
  text-align: center;
  font-family: "Nunito", sans-serif;
  font-weight: normal;
  font-size: 72px;
}

h2,
h4 {
  text-align: center;
  font-family: "Nunito", sans-serif;
  font-weight: normal;
}

.overlay {
  margin-bottom: 50px;
  width: 100%;
}

p {
  font-size: 15px;
  font-family: "Nunito", sans-serif;
  font-weight: normal;
}

.contact-p {
  text-align: center;
  font-size: 15px;
  font-family: "Nunito", sans-serif;
  font-weight: normal;
}

.workpage {
  text-align: center;
}

.homepage-photos {
  display: flex;
  justify-content: center;
}

.homepage-photos div {
  width: 250px;
  text-align: center;
  padding: 5px;
  margin: 15px;
}

.logo {
  margin-bottom: 30px;
  display: block;
  margin: 0 auto;
}

.workpage-photo {
  width: 600px;
  display: block;
  margin: 0 auto;
  padding: 30px;
}

@media (max-width: 700px) {
  .heading-homepage {
    font-size: 35px;
  }
  .homepage-photos div {
    width: 150px;
  }

  .p-about {
    margin-top: 40px;
    text-align: center;
  }

  .insta {
    text-align: center;
  }
}
